<h3 class="notauthorized">You need to be a supervisor or lead to be here</h3>

<div class="notauthorized">
    <img src="~/Content/Images/4-580x318.jpg" />
</div>

<div class="notauthorized" style="margin-top:1em;">
    <a href="../Home/Index" class="btn btn-default">Home Page</a>
</div>