@model IEnumerable<SeatingChart.Models.BreakModels>

@{
    Layout = null;
}

@Html.Partial("_Header")

    <div class="container_lists">
        <div class="container_break col-md-6">
            <h5 style="text-align:center">Break List</h5>
            <table class="table-bordered col-md-12">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        if (item.TimeCleared == null)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmployeeModels.DisplayName)
                                </td>
                                <td>
                                    @item.TimeEntered.ToString("HH:mm")
                                </td>
                            </tr>
                        }
                    }
                }
            </table>
            <form>
                <div class="form formBuffer" style="text-align:center">
                    <div class="col-med-12">
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option selected>---Dispatcher---</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-med-12 formBuffer">
                        <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
