@model IEnumerable<SeatingChart.Models.BreakModels>

@{
    Layout = null;
}

@Html.Partial("_Header")

<table class="table col-med-8">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            if (item.TimeCleared == null)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeModels.DisplayName)
                </td>
                <td>
                    @item.TimeEntered.ToString("HHmm")
                </td>
            </tr>

            }
        }
    }
</table>
